.insta_main_container{

    background-color: #fff;
}



.insta_main_container{


    width: 96%;
    margin: 100px auto;
}
@media screen and (max-width: 768px) {




    
    .insta_container{
        height: 50vh;
        overflow: hidden;

    }
}