.me{
    overflow-x: hidden;
}

.gallery-heading {
  color: #fff;
  font-size: 80px;
  font-weight: 800;
  margin: 180px auto 20px auto;
  text-align: center;
}

.gallery-banner {
  width: 100%;
  height: 100%;

  margin-top: 50px;
}

.gallery-banner video {
  width: 100%;
  height: 100%;
}

.gallery-images {
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.gallery-card {
  width: 33.3%;
  height: 60vh;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-banner-end {
  width: 100%;
  height: 100%;

  margin-top: 100px;
}

.gallery-banner-end video {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 2400px) {
  .gallery-heading {
    margin: 250px auto 20px auto;
  }
}