

.main_artists_cards_cont{

    margin-top: 100px;
}


.allartists-heading{
    color: #fff;
    font-size: 36px;
    margin: 0 auto 20px auto;
    text-align: center;
    align-content: center;
    font-weight: 700;
    padding-top: 50px;

}