.fatsoma_tkt_widget{

    background-color: #fff;

}

.tkt_events_wdgts_top{
    width: 95vw;
    margin: 00 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 00 10px;
}


.tkt_event_wdgt_btn{

    padding: 10px 15px;
    background-color: yellow;
    font-size: 38px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000;

}

.fatsoma_tkt_wgt_main{

    /* border: 2px solid rgb(0, 255, 136); */
    max-width: 95vw;
    margin: 20px auto;
  

    
}

.tkt_events_wdgts_top_right{
    margin: 20px 0;
}
.tkt_events_wdgts_top_right  span{
    color: #000 !important;
    font-size: 24px ;
    text-align: center;
  }
  

  .tkt_events_wdgts_top_left{

    /* margin: 20px 0; */
    padding: 40px 00 20px 00;
  }


  @media screen and (max-width: 768px) {

    .tkt_events_wdgts_top{
        flex-direction: column;
        align-items: center;
    }

    .tkt_event_wdgt_btn{

        font-size: 36px;
        margin-top: 10px;
    }

  }


  /* Fix Fatsoma iframe gap */

.fatsoma-widget-iframe {
    width: 100% !important;
    min-height: 300px !important;
    height: auto !important;
    border: none !important;
    display: block;
  }
  
  .fatsoma_tkt_wgt_main {
    overflow: hidden;
  }
  