.birthdayWrapper {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  margin: 20vh auto 10vh auto;

}

/* Main container */
.birthdayContainer {
  width: 50%;
  max-width: 1100px;
  display: flex;
align-items: flex-start;
  gap: 30px;

}

/* LEFT SIDE */
.birthdayLeft {
  color: #fff;
  width: 45%;
}

.birthdayLeft h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.birthdayLeft p {
  margin-top: 30px;
  font-size: 22px;
  line-height: 1.4;
  color: #ddd;
}

.birthdayRight{
  width: 50%;
}

/* FORM */
.bwForm {
  max-width: 400px;

}

/* Inputs */
.bwForm input,
.bwForm textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 14px;
  margin-bottom: 16px;
  font-size: 14px;
}

.bwForm input::placeholder,
.bwForm textarea::placeholder {
  color: #aaa;
  font-family: Arial, Helvetica, sans-serif;
}

/* Button */
.bwForm button {
  width: 100%;
  background: #fff;
  color: #000;
  padding: 14px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
}

.bwForm button:hover {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
  .birthdayContainer {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .bwForm {
    margin: 0 auto;
  }
}
