


@font-face {
  font-family: 'Degular';
  src: url('../public/fonts/DegularDemo-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('../public/fonts/DegularDemo-Semibold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('../public/fonts/DegularDemo-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}




body {
  margin: 0;
  font-family:  "Degular",Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: "Degular" ,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Apply black background to widget wrapper */
.js-widget-wrapper {
  background-color: #000 !important;
  padding: 0 !important;
  border-radius: 10px;
}


/* body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #aaaaaa;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
} */

.App #content {
  transition-duration: 0.3s;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top: 0;
  pointer-events: none;
  min-height: 831px;
  background: transparent;
}





.mobile-or-tablet .iphone-img {
  display: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


