/* Main Container */
.contactWrapper {
  background: #000;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  gap: 100px;
  padding: 50px;

  margin: 20vh auto 10vh auto;
}

/* Left Side */
.contactLeft {
  color: #fff;
  max-width: 400px;
}

.contactLeft a{
  color: #fff;
  text-decoration: none;
}

.contactLeft h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.contactLeft p {
  color: #2da9ff;
  font-size: 16px;
  margin-bottom: 25px;
}

.faqLink {
  font-size: 16px;
  cursor: pointer;
}

.faqLink:hover {
  text-decoration: underline;
}


/* Right Form */
.bwForm {

  background: transparent;
}

/* Inputs */
.bwForm input,
.bwForm textarea {
  width: 100%;
  background: transparent;

  border: 1px solid #666;
  color: #fff;

  padding: 14px;
  margin-bottom: 18px;

  font-size: 15px;
}

/* Textarea */
.bwForm textarea {
  min-height: 120px;
  resize: none;
}

/* Placeholder */
.bwForm input::placeholder,
.bwForm textarea::placeholder {
  color: #777;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;

}


/* Button */
.bwForm button {
  width: 100%;
  padding: 14px;

  background: #fff;
  color: #000;

  border: none;
  font-weight: 600;
  cursor: pointer;
}

.bwForm button:hover {
  background: #eee;
}


/* Mobile Responsive */
@media (max-width: 900px) {

  .contactWrapper {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }

  .contactLeft h1 {
    font-size: 34px;
  }

  .bwForm {
    width: 100%;
  }
}
